header {
    font-size: 50px;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    
}

hr {
    height: 5px;
}

body {
    background-color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.flex-container {
    display: flex;
    background-color: white;
    margin: 10px;
    padding: 50px;
    font-size: 30px;
    margin: auto;
}

.flex-item {
    display: flex;
    background-color: black;
    color: white;
    margin: 10px;
    padding: 50px;
    font-size: 30px;
}

.flex-column {
    display: flex;
    flex-wrap: wrap;
}

.flex-row {
    display: flex;
    flex-wrap: wrap;
}

#container-ex {
background-color: blue;
}

.item-ex {
    background-color: blue;
}

.box-title {
    text-align: center;
    color: black;
}

h2 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    text-align: center;
    font-size: 35px;
}

.flex-direction {
    display: flex;
    flex-direction: column;
    background-color: white;
    margin: 10px;
    padding: 50px;
    font-size: 30px;
    margin: auto;
}

#flex-wrap {
    display: flex;
    flex-wrap: wrap;
}

.items-container {
    display: flex;
    flex-wrap: wrap;
}

.description {
    color: white;
    text-align: center;
}

h3{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    text-align: center;
    font-size: 25px;
}

#col-rev {
    flex-direction: column-reverse;
}

#row {
    flex-direction: row;
}

#row-rev {
    flex-direction: row-reverse;
}

.description {
    color: white;
    text-align: center;
}

.flex-wrap {
    display: flex;
    flex-wrap: wrap;
    background-color: white;
    margin: 10px;
    padding: 50px;
    font-size: 30px;
    margin: auto;
}

#nowrap {
    flex-wrap: nowrap;
}

#wrap-reverse {
    flex-wrap: wrap-reverse;
}

.justify-content {
    display: flex;
    justify-content: center;
    background-color: white;
    margin: 10px;
    padding: 50px;
    font-size: 30px;
    margin: auto;
}

#flex-start {
    justify-content: flex-start;
}

#flex-end {
    justify-content: flex-end;
}

#space-around {
    justify-content: space-around;
}

#space-between {
    justify-content: space-between;
}

#flex-only {
    display: flex;
}

.flex-order {
    display: flex;
    align-items: stretch;
    justify-content: center;
    background-color: white;
    margin: 10px;
    padding: 50px;
    font-size: 30px;
    margin: auto;
    flex-wrap: wrap;
}

.flex-grow {
    display: flex;
    background-color: white;
    margin: 10px;
    padding: 50px;
    font-size: 30px;
    margin: auto;
    flex-wrap: wrap;
    justify-content: center;
}

